body {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: #444;
  color: #fff;
  padding-left: 120px;
  text-align: left;
}

#aboutUs {
  text-align: center;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 28px;
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  border-style: solid;
  border-color: darkgrey;
  border-width: 5px;
}

#logo {
  float: left;
  padding-right: 80px;
  padding-top: 10px;
}

.heading {
  padding-top: 20px;
}

.title {
  padding: 30px;
  /* float: left; */
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  border: 1px black solid;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.899);
}

h3 {
  font-family: 'Patrick Hand SC', cursive;
  /* float: right; */
  font-size: 30px
}


p {
  padding: 5px;
  font-size: 10px;
}

h4 {
  font-size: 14px;
  font-family: 'PT Serif', serif;
}

main {
  background-image: url('../assets/Background.png');
  background-repeat: repeat;
  width: 95%;
  margin: 0 auto;
}

/* section {
  text-align: center;
} */

#about-us li {
  text-align: left;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.637);
  padding: 5px;
  border-radius: 5px;
}

#about-us li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

#about-us p {
  font-size: 12px;
}

#about-us div {
  font-size: 20px;
  font-family: 'Patrick Hand SC', cursive;
}
.input-field {
  display: block;
  width: 80%;
  margin: 15px auto;
  border-radius: 5px;
}
form {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.canvas {
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

footer {
  background-color: #444;
  color: #fff;
  padding: 20px;
  text-align: center;
}

button {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: black;
  color: #fff;
}


.preview img {
  width: 100px;
}

div label {
  display: block;
  font-size: 20px;
}

.about-color a {
  color: rgb(61, 197, 140);
  text-decoration: none;
}