body {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: #444;
  color: #fff;
  /* padding: 20px; */
}
#logo {
  float: left;
}
.title {
  padding: 30px
  /* float: left; */
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}

p {
  padding: 5px;
  font-size: 10px;
}

main {
  background-image: url('../assets/Background_2.png');
  background-repeat: no-repeat;
  width: 95%;
  margin: 0 auto;
}

input {
  display: block;
  width: 70%;
  margin: 20px;
}
form {
  padding: 20px;
}

footer {
  background-color: #444;
  color: #fff;
  padding: 20px;
}